/* intuitivnejsi box-sizing */
html { box-sizing: border-box; }
*, ::after, ::before { box-sizing: inherit; }

body {
    text-rendering: optimizeLegibility;
}

/*
 BARVY
 svetle sede pozadi      #f5f5f5
 tmavsi seda             #959595
 barevny prechod nahore  #06d7c1
 barevny prechod dole    #50cc49
 zelena cara             #06d7c1
 oranzova                #f15f42

 PISMO
 Rubik - pouzite rezy pisma regular 400 a medium 500
 https://fonts.google.com/specimen/Rubik
*/

/* ----- zde zacni psat vlastni css ----- */

*{
    font-family: "Rubik", sans-serif;
    font-size: 14px;
    font-weight: 400;
}

.kontejner{
    width: 670px;
    margin: 0 auto;
    display: flex;
    height: 440px;
    box-shadow: 10px 5px 10px rgb(218, 217, 217);
}


/* levy sloupec */

.zelena{
    background-image: linear-gradient(#06d7c1, #50cc49);
    position: relative;
    flex-basis: 50%;
    flex-shrink: 0;
    border-radius: 15px 0 0 15px;
}

.slogan{
    font-size: 16px;
    font-weight: 500;
    color: white;
    margin: 30px;
}

.nike{
    margin: 30px 0 0 30px;
}

.bota{
    position: absolute;
    left: -80px;
    bottom: 15px;
}

.cenovka{
    color: white;
position: absolute;
right: 30px;
bottom: 30px;
}

.kc{
    font-size: 28px;
    font-weight: 500;
    text-align: right;
}

.zaruka{
    font-size: 12px;
    font-weight: 400;
}

/* pravy sloupec */

.bila{
    flex-basis: 50%;
    flex-shrink: 0;
    border-radius: 0 15px 15px 0;
}

.horni{
    padding: 30px;
    border-bottom: 1px solid #06d7c1;
}

h1{
    font-size: 20px;
    font-weight: 500;
    text-transform: uppercase;
    margin-bottom: 10px;
}

.podnadpis{
    font-size: 16px;
    font-weight: 400;
    color: rgb(156, 156, 156);
    margin-top: 0;
}


.dolni{
    padding: 0 0 30px 30px;
}

h2{
    font-size: 16px;
    font-weight: 400;
    text-transform: uppercase;
}


.cisla{
    display: flex;
}

.tlacitko{
    display: inline-block;
    text-decoration: none;
}

.bod{
    flex-basis: 15%;
    text-align: center;
    padding: 10px;
}

.ctvrty{
color: #f15f42;
border: 1px solid #f15f42;
border-radius: 50%;
}

.tlacitko{
    background-color: #f15f42;
    padding: 10px 25px;
    margin: 30px 0 30px 30px;
    color: white;
    text-transform: uppercase;
    border-radius: 10px;
}